/* HTML: <div class="loader"></div> */

@import "./variables";

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: $btn-color;
    animation: hideLoader 3s linear forwards;
}

.loader {
    z-index: 3;
    font-weight: bold;
    font-family: "Shrikhand";
    font-size: 40px;
    display: inline-grid;
    color: $main-color;
}

.loader:before,
.loader:after {
    content: "Ohmyfood";
    grid-area: 1/1;
    mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
    animation: l29 3s infinite ease-out;

}

.loader:after {
    mask-position: 1ch 50%;
    --s: -1;
}

@keyframes hideLoader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes l29 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        transform: rotate(calc(var(--s, 1)*1turn));
        opacity: 0;
    }
}