$primary-color: #F6F6F6;
$main-color: #ffffff;
$secondary-color: #9356DC;
$tertiary-color: #FF79DA;
$quaternary-color: #99E2D0;
$new-color: #008766;
$btn-color: linear-gradient($tertiary-color, $secondary-color)