.header-menu {
  display: flex;
  justify-content: center;
  padding: 0px 17px 0px 17px;
}
.header-menu i {
  color: #101010;
  position: absolute;
  left: 17px;
  top: 22px;
  font-size: 20px;
}

.picture {
  height: 275px;
}
.picture img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-menu {
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.menu-heart .fa-heart {
  position: absolute;
  top: 40px;
  font-size: 25px;
  transition: opacity 0.4s linear;
}
.menu-heart .empty-heart {
  background-color: #F6F6F6;
  z-index: 1;
}
.menu-heart .full-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.menu-title {
  display: flex;
  gap: 24px;
}
.menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.card-menu__selection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.card-menu__selection .btn-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
.card-menu__selection .btn-choice .dish-description {
  overflow: hidden;
  padding: 15px;
}
.card-menu__selection .btn-choice .dish-description h3,
.card-menu__selection .btn-choice .dish-description div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-menu__selection .btn-choice .dish-selectioned {
  display: flex;
  flex-direction: row;
  align-items: end;
  position: relative;
  left: 60px;
  transition: all 0.5s linear;
}
.card-menu__selection .btn-choice .dish-selectioned p {
  padding: 15px 15px 15px 0px;
}
.card-menu__selection .btn-choice:hover .dish-selectioned {
  left: 0px;
}
.card-menu__selection .btn-choice:hover .btn-checked {
  opacity: 1;
}
.card-menu__selection .btn-choice:hover .fa-check {
  transform: rotate(-360deg);
}
.card-menu__selection h3 {
  font-weight: 500;
  font-size: 18px;
}

.btn-checked {
  width: 60px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  opacity: 0.3;
  transition: all 0.5s linear;
}
.btn-checked .fa-check {
  color: #99E2D0;
  background-color: white;
  border-radius: 25px;
  padding: 4px;
  margin: 25px 19px;
  transition: all 0.4s linear;
}

.card-menu__subtitle {
  padding-top: 5px;
  font-weight: 300;
  font-size: 15px;
}

.card-menu__title {
  font-weight: 300;
  font-size: 22px;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 9px;
  width: 40px;
}

.btn-order {
  border: none;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
}
.btn-order:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .card-menu {
    margin-left: 193px;
    margin-right: 193px;
    padding: 0px 210px 0px 210px;
  }
  .menu-title h1 {
    padding-top: 32px;
  }
}
/* HTML: <div class="loader"></div> */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: hideLoader 3s linear forwards;
}

.loader {
  z-index: 3;
  font-weight: bold;
  font-family: "Shrikhand";
  font-size: 40px;
  display: inline-grid;
  color: #ffffff;
}

.loader:before,
.loader:after {
  content: "Ohmyfood";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0) 0) 0 50%/2ch 100%;
  animation: l29 3s infinite ease-out;
}

.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}

@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes l29 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
    opacity: 0;
  }
}
.card-menu__selection .btn-choice {
  animation: anim-card-box 2s;
}
.card-menu__selection .btn-choice--1 {
  animation-delay: 0.2s;
}
.card-menu__selection .btn-choice--2 {
  animation-delay: 0.4s;
}
.card-menu__selection .btn-choice--3 {
  animation-delay: 0.6s;
}
.card-menu__selection .btn-choice--4 {
  animation-delay: 0.8s;
}
.card-menu__selection .btn-choice--5 {
  animation-delay: 1s;
}
.card-menu__selection .btn-choice--6 {
  animation-delay: 1.2s;
}
.card-menu__selection .btn-choice--7 {
  animation-delay: 1.4s;
}
.card-menu__selection .btn-choice--8 {
  animation-delay: 1.6s;
}
.card-menu__selection .btn-choice--9 {
  animation-delay: 1.8s;
}
.card-menu__selection .btn-choice--10 {
  animation-delay: 2s;
}

@keyframes anim-card-box {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* General */
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__logo {
  padding-top: 20px;
  padding-bottom: 13px;
}

.header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
  height: 50px;
  gap: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*introdction*/
.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 57px;
}
.intro h1 {
  padding: 0px 58px 17px 58px;
}
.intro p {
  padding: 0px 26px 0px 26px;
  font-weight: 300;
}

.fake-btn {
  text-decoration: none;
  margin-top: 27px;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.fake-btn p {
  font-weight: 500;
  padding: 13px 19px;
}
.fake-btn:hover {
  opacity: 0.8;
}

/*Fonctionnement*/
.function {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 43px 20px;
}
.function h1 {
  padding-bottom: 26px;
}
.function div {
  padding-bottom: 25px;
}

.function-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.function-btn p {
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 11px;
}
.function-btn :hover > .fa-solid {
  color: #9356DC;
}

.btn {
  display: flex;
  display: flex;
  align-items: center;
  padding-left: 32px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  font-weight: 500;
  color: #000000;
}
.btn .fa-solid {
  color: #7E7E7E;
  padding-right: 27px;
  font-size: 20px;
}

/*Restaurant*/
.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 54px 18px 48px 18px;
}
.restaurant h1 {
  margin-bottom: 18px;
}

.card-restaurant {
  width: 100%;
  height: 251px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}
.card-restaurant .new {
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 2px;
}
.card-restaurant .card-restaurant-image {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-restaurant h2 {
  padding-top: 16px;
  font-size: 18px;
  padding-left: 13px;
}
.card-restaurant p {
  font-size: 17px;
  padding-left: 13px;
  padding-top: 5px;
}

.card-heart .fa-heart {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 25px;
  transition: opacity 0.4s linear;
}
.card-heart .empty-heart {
  background-color: white;
  z-index: 1;
}
.card-heart .full-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.heart-checkbox:checked + .empty-heart {
  opacity: 0;
}

.heart-checkbox {
  display: none;
}

.card-restaurant a {
  text-decoration: none;
  color: black;
}

/* Footer*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px 22px;
}
footer .fa-solid {
  font-size: 13px;
  padding-right: 11px;
}

.footer__1 {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.footer__2 {
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
  color: #ffffff;
}

.footer-display {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 200px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 18px;
  }
  .function {
    padding: 50px;
  }
  .function__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
  }
  .function-btn {
    flex-grow: 1;
    flex-basis: 0;
  }
  .restaurant {
    padding: 30px 180px;
  }
  .restaurant div {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .card-restaurant {
    min-width: 35%;
    flex-grow: 1;
    flex-basis: 0;
  }
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    padding: 52px 25px 30px 25px;
  }
  .logo {
    padding-bottom: 0px;
  }
  .footer-display {
    flex-direction: row;
  }
  .footer__1 {
    width: 191px;
  }
  .footer__2 {
    width: 130px;
  }
}/*# sourceMappingURL=style.css.map */