.header-menu {
  display: flex;
  justify-content: center;
  padding: 0px 17px 0px 17px;
}
.header-menu i {
  color: #101010;
  position: absolute;
  left: 17px;
  top: 22px;
  font-size: 20px;
}

.picture {
  height: 275px;
}
.picture img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-menu {
  padding: 32px 13px 40px 13px;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.menu-heart .fa-heart {
  position: absolute;
  top: 40px;
  font-size: 25px;
  transition: opacity 0.4s linear;
}
.menu-heart .empty-heart {
  background-color: #F6F6F6;
  z-index: 1;
}
.menu-heart .full-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.menu-title {
  display: flex;
  gap: 24px;
}
.menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.card-menu__selection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.card-menu__selection .card-menu__title {
  font-weight: 300;
  font-size: 22px;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 9px;
  width: 40px;
}
.card-menu__selection div {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
}
.card-menu__selection div h3 {
  font-weight: 500;
  font-size: 18px;
}
.card-menu__selection div .card-menu__subtitle {
  display: flex;
  flex-direction: row;
  padding: 0px;
  padding-top: 5px;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
}
.card-menu__selection div .card-menu__subtitle p {
  font-weight: bold;
}

.btn-order {
  border: none;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .card-menu {
    margin-left: 193px;
    margin-right: 193px;
    padding: 0px 210px 0px 210px;
  }
  .menu-title h1 {
    padding-top: 32px;
  }
}
/* General */
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__logo {
  padding-top: 20px;
  padding-bottom: 13px;
}

.header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
  height: 50px;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*introdction*/
.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 57px;
}
.intro h1 {
  padding: 0px 58px 17px 58px;
}
.intro p {
  padding: 0px 26px 0px 26px;
  font-weight: 300;
}

.fake-btn {
  text-decoration: none;
  margin-top: 27px;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.fake-btn p {
  font-weight: 500;
  padding: 13px 19px;
}
.fake-btn:hover {
  opacity: 0.8;
}

/*Fonctionnement*/
.function {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 43px 20px;
}
.function h1 {
  padding-bottom: 26px;
}
.function div {
  padding-bottom: 25px;
}

.function-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.function-btn p {
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 11px;
}
.function-btn :hover > .fa-solid {
  color: #9356DC;
}

.btn {
  display: flex;
  display: flex;
  align-items: center;
  padding-left: 32px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  font-weight: 500;
  color: #000000;
}
.btn .fa-solid {
  color: #7E7E7E;
  padding-right: 27px;
  font-size: 20px;
}

/*Restaurant*/
.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 54px 18px 48px 18px;
}
.restaurant h1 {
  margin-bottom: 18px;
}

.card-restaurant {
  width: 100%;
  height: 251px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}
.card-restaurant .new {
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 2px;
}
.card-restaurant .card-restaurant-image {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-restaurant h2 {
  padding-top: 16px;
  font-size: 18px;
  padding-left: 13px;
}
.card-restaurant p {
  font-size: 17px;
  padding-left: 13px;
  padding-top: 5px;
}

.card-heart .fa-heart {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 25px;
  transition: opacity 0.4s linear;
}
.card-heart .empty-heart {
  background-color: white;
  z-index: 1;
}
.card-heart .full-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.heart-checkbox:checked + .empty-heart {
  opacity: 0;
}

.heart-checkbox {
  display: none;
}

.card-restaurant a {
  text-decoration: none;
  color: black;
}

/* Footer*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px 22px;
}
footer .fa-solid {
  font-size: 13px;
  padding-right: 11px;
}

.footer__1 {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.footer__2 {
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
  color: #ffffff;
}

.footer-display {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 200px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 18px;
  }
  .function {
    padding: 50px;
  }
  .function__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .function-btn {
    width: 322px;
  }
  .restaurant {
    padding: 30px 180px;
  }
  .restaurant div {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .card-restaurant {
    min-width: 35%;
    flex-grow: 1;
    flex-basis: 0;
  }
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    padding: 52px 25px 30px 25px;
  }
  .logo {
    padding-bottom: 0px;
  }
  .footer-display {
    flex-direction: row;
  }
  .footer__1 {
    width: 191px;
  }
  .footer__2 {
    width: 130px;
  }
}/*# sourceMappingURL=style.css.map */