/* Variable*/
$primary-color: #F6F6F6;
$main-color: #ffffff;


/* General */

body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-color;
    margin: 0;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header__logo {
        width: 162px;
        margin-top: 36px;
    }

    .header__location {
        background-color: #EAEAEA;
        color: #353535;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }
}

.restaurant {
    background-color: #F6F6F6;

    .card-restaurant {
        width: 100%;
        height: 251px;

        border-radius: 15px;


        .card-restaurant-image {
            width: 100%;
            height: 231px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
    }
}