@import "./variables";
@import "./mixin";
@import "./menu";


/* General */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* Header */
.header {
    @include display-center;
    @include display-column;
}

.header__logo {

    padding-top: 20px;
    padding-bottom: 13px;
}

.header__location {
    @include display-center;
    justify-content: center;
    background-color: #EAEAEA;
    color: #353535;
    width: 100%;
    height: 50px;
    gap: 17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/*introdction*/
.intro {
    text-align: center;
    @include display-column;
    @include display-center;
    background-color: $primary-color;
    padding-top: 40px;
    padding-bottom: 57px;

    h1 {
        padding: 0px 58px 17px 58px;
    }

    p {
        padding: 0px 26px 0px 26px;
        font-weight: 300;
    }

}

.fake-btn {
    text-decoration: none;
    margin-top: 27px;
    border-radius: 25px;
    color: $main-color;
    background: $btn-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    p {
        font-weight: 500;
        padding: 13px 19px;
    }

    &:hover {
        opacity: 0.8;
    }
}


/*Fonctionnement*/

.function {
    @include display-column;
    padding: 48px 20px 43px 20px;

    h1 {
        padding-bottom: 26px;
    }

    div {
        padding-bottom: 25px;
    }

}

.function-btn {
    @include display-center;
    flex-direction: row;

    p {
        color: #ffffff;
        background-color: $secondary-color;
        border-radius: 25px;
        width: 24px;
        height: 24px;
        @include display-center;
        justify-content: center;
        position: relative;
        left: 11px;

    }

    :hover>.fa-solid {
        color: $secondary-color;
    }

}

.btn {
    display: flex;
    @include display-center;
    padding-left: 32px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 72px;
    font-size: 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background-color: $primary-color;
    font-weight: 500;
    color: #000000;

    .fa-solid {
        color: #7E7E7E;
        padding-right: 27px;
        font-size: 20px;
    }


}

/*Restaurant*/
.restaurant {
    background-color: $primary-color;
    @include display-column;
    padding: 54px 18px 48px 18px;

    h1 {
        margin-bottom: 18px;
    }
}

.card-restaurant {
    width: 100%;
    height: 251px;
    background-color: $main-color;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 18px;


    .new {
        background-color: $quaternary-color;
        width: 80px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $new-color;
        position: absolute;
        right: 15px;
        top: 15px;
        border-radius: 2px;
    }

    .card-restaurant-image {
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    h2 {
        padding-top: 16px;
        font-size: 18px;
        padding-left: 13px;
    }

    p {
        font-size: 17px;
        padding-left: 13px;
        padding-top: 5px;
    }
}

.card-heart {

    .fa-heart {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 25px;
        transition: opacity 0.4s linear;

    }

    .empty-heart {
        background-color: white;
        z-index: 1;

    }

    .full-heart {
        background-image: linear-gradient($secondary-color, $tertiary-color);
        background-clip: text;
        color: transparent;
    }
}

.heart-checkbox:checked+.empty-heart {
    opacity: 0;
}


.heart-checkbox {
    display: none;
}






.card-restaurant a {
    text-decoration: none;
    color: black;
}

/* Footer*/

footer {
    background-color: #353535;
    @include display-column;
    padding: 25px 22px;

    .fa-solid {
        font-size: 13px;
        padding-right: 11px;
    }
}

.footer__1 {
    font-weight: 500;
    text-decoration: none;
    color: $main-color;
}

.footer__2 {
    font-weight: 300;
    text-decoration: none;
    color: $main-color;
}




.logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    padding-bottom: 16px;
    color: $main-color;
}

.footer-display {
    @include display-column;
    gap: 7px;

}

@media (min-width: 1024px) {
    .header__logo {
        width: 200px;
    }

    .intro {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

    .function {
        padding: 50px;
    }

    .function__desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .function-btn {
        width: 322px;
    }

    .restaurant {
        padding: 30px 180px;

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
        }
    }

    .card-restaurant {
        min-width: 35%;
        flex-grow: 1;
        flex-basis: 0;
    }

    footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 16px;
        padding: 52px 25px 30px 25px;
    }

    .logo {
        padding-bottom: 0px;

    }

    .footer-display {
        flex-direction: row;

    }

    .footer__1 {
        width: 191px;

    }

    .footer__2 {
        width: 130px;
    }

}